@font-face {
    font-family: "MyriadPro-Regular";
    src: url("../fonts/MyriadPro-Regular/MyriadPro-Regular.eot");
    src: local('☺'), url("../fonts/MyriadPro-Regular/MyriadPro-Regular.woff") format('woff'), url("../fonts/MyriadPro-Regular/MyriadPro-Regular.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "DINPro-Bold";
    src: url("../fonts/DINPro-Bold/DINPro-Bold.eot");
    src: local('☺'), url("../fonts/DINPro-Bold/DINPro-Bold.woff") format('woff'), url("../fonts/DINPro-Bold/DINPro-Bold.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "DINPro-Regular";
    src: url("../fonts/DINPro-Regular/DINPro-Regular.eot");
    src: local('☺'), url("../fonts/DINPro-Regular/DINPro-Regular.woff") format('woff'), url("../fonts/DINPro-Regular/DINPro-Regular.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}
